<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>闪POS联盟</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body>
	<header>
        <a class="headerLeftBtn" href="javascript:history.go(-1)">
            <img src="__PUBLIC__/Home/images/backIcon.png" alt="返回">
        </a>
        闪POS联盟小程序码
    </header>
   <section class="successMain" style="padding-top:30%;">
        <div class="registerSuccessTip">
          <img src="__PUBLIC__/Home/images/smallProgram.jpg?1" style="width:70%;text-align:center;display:block;margin:20px auto;" />
        </div>
   </section>   
</body>
</html>