<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>闪POS联盟</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <style>
  .sorryTitle{
  	padding-top:30px;
	font-size:24px;
  	text-align:center;
  	color:#E3554B;
  }
  .sorryTip{
  	position:fixed;
  	bottom:5%;
  	left:0;
  	width:100%;
	font-size:16px;
  	text-align:center;
  	color:#333;
  	padding-top:30px;
  }
</style>
</head>
<body style='background:#F2F6FA;'>
   <section class="successMain">
        <img class="successHeaderImg" src="__PUBLIC__/Home/images/sorry.jpg" style="margin:0;">
        <div class="registerSuccessTip">
          <div class='sorryTitle'>无效的邀请码</div>
          <div class='sorryTip'>
             你的页面已经离开地球
          </div>
        </div>
   </section>   
</body>
</html>