<!DOCTYPE html>
<html lang="en" style="background:#19a5e7;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>三人共创</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>

<body>
    <p class="downloadTip">请在浏览器中打开此页面</p>
    <img src="__PUBLIC__/Home/images/downloadImg.png" alt="downloadImg">
    <div class="downloadMain">
        <a href="http://downloadpkg.apicloud.com/app/download?path=http://A6095634698733.qiniucdn.apicloud-system.com/ce4ba2875a901879368642d7bc63e8e3_d">
            <img src="__PUBLIC__/Home/images/androidIcom.png" alt="安卓">Android版下载
        </a>
        <a href="javascript:alert('IOS版正在上架中')">
            <img src="__PUBLIC__/Home/images/iosIcon.png" alt="苹果">Iphone版下载
        </a>
    </div>
</body>

</html>