<form id="pagerForm" method="post" action="{:U('Model/arealist')}">
    <input type="hidden" name="status" value="${param.status}">
    <input type="hidden" name="keywords" value="${param.keywords}" />
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" />
    <input type="hidden" name="orderField" value="${param.orderField}" />
</form>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="{:U('areaadd')}" target="navTab"><span>添加</span></a></li>
            <li class="line">line</li>
            <li><a class="edit" href="{:U('areamodify')}?areaid={sid_user}" target="navTab"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="delete" href="{:U('areadel')}?areaid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
        </ul>
    </div>
    <table class="table" width="55%" layoutH="76">
        <thead>
        <tr>
            <th width="30" align="center">模块ID</th>
            <th width="50" align="center">模块名称</th>
            <th width="80" align="center">备注</th>
            <th width="50" align="center">创建时间</th>
            <th width="50" align="center">创建IP</th>
            <th width="80" align="center">排序</th>
			<th width="80" align="center">系统名称</th>
        </tr>
    </thead>
        <if condition="$totalCount gt 0">
        <tbody>
        <foreach name="info" item="v">
            <tr target="sid_user" rel="{$v.model_ID}">
                <td align="center">{$v.model_ID}</td>
                <td align="center">{$v.model_Name}</td>
                <td align="center">{$v.model_Remark}</td>
                <td align="center">{$v.model_Createtime}</td>
                <td align="center">{$v.model_Createip}</td>
                <td><input type="hidden" name="cid" value="{$v.model_ID}" /> <input type="text" name="sortno" value="{$v.model_Sortno}" checkval="{$v.model_Sortno}" onkeyup="check_mod(event,this)" maxlength="5" style="border: none; width: 80px;text-align: center;" />　<a style=" cursor: pointer; color:#247CE8; display:none; text-decoration: none;" onclick="saves()" sav>保存</a></td>
				<td align="center">{$v.model_SystemName}</td>
            </tr>
        </foreach>
        </tbody>
        <else/>
            <tbody>
                <tr>
                    <td align="center" colspan="7" style="color:red;">抱歉， 没有找到符合的记录！</td>
                </tr>
            </tbody>
        </if>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage: this.value})">
                <option value="20" <if condition="$numPerPage eq 20">selected="selected"</if>>20</option>
                <option value="50" <if condition="$numPerPage eq 50">selected="selected"</if>>50</option>
                <option value="100" <if condition="$numPerPage eq 100">selected="selected"</if>>100</option>
                <option value="200" <if condition="$numPerPage eq 200">selected="selected"</if>>200</option>
            </select>
            <span>条，共{$totalCount}条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$page}"></div>
    </div>
</div>
<script type="text/javascript">
    //检查
    function check_mod(e,o){
        var $this = $(o);
        var v=o.value|0;
            if(v<=0){
                o.value=o.value.replace(/\D/g,'');
                o.focus();
            }
        if ($this.val()==$this.attr('checkval')) {
            $this.next('a').hide();
        } else{
            $this.next('a').show();
        };
    }

    //保存
    function saves() {
        var $this = $('[sav]:visible');
        var cidarr = new Array(); //定义字符串数组
        var valarr = new Array(); //定义字符串数组
        $.each($this, function(index, val) {
             cidarr.push($(this).parents('td').find('input[name="cid"]').val()); //向数组最后插入记录
             valarr.push($(this).parents('td').find('input[name="sortno"]').val()); //向数组最后插入记录
        });

        //异步保存
        $.ajax({
            url: '{:U("sortno")}',
            type: 'POST',
            dataType: 'json',
            data: {cidarr:cidarr,valarr:valarr},
            success:function (data) {
                if (data.statusCode==200) {
                    navTab.reload("", {navTabId: ""});
                    alertMsg.correct(data.message);
                } else{
                    alertMsg.error(data.message);
                };
            }
        });
    }
</script>