<div class="pageContent">
	<form method="post" action="{:U('Systemuser/addFunction')}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="55">
			<p style="clear: both;">
				<label>用户账号：</label>
				<input name="lrUserName" class="required" type="text" size="30" value="" alt="请输入账号名称" />
			</p>
			<p style="clear: both;width: 100%">
				<font style="margin-left: 130px;">提示：用户账号作为登陆使用</font>
			</p>
			<p style="clear: both;">
				<label>用户密码：</label>
				<input type="text" readonly="readonly" size="30" value="lr123456" name="lrUserPwd" class="required textInput">
			</p>
			<p style="clear: both;width: 100%">
				<font style="margin-left: 130px;">提示：默认密码为lr123456用户可以自己修改密码</font>
			</p>
			<p style="clear: both;">
				<label>所属角色：</label>
				<select name="roleID" class="required combox">
					<option value="" selected="selected">请选择</option>
					<foreach name="roles" item="v">
						<option value="{$v.role_id}">{$v.role_name}</option>
					</foreach>
				</select>
			</p>
			<p style="clear: both;">
				<label>联系手机：</label>
				<input class="tel  required" name="lrUserPhone" type="text" size="30" />
			</p>
			<p style="clear: both;">
				<label>联系邮箱：</label>
				<input class="email" name="lrUserEmail" type="text" size="30" />
			</p>
		</div>
		<div class="formBar">
			<ul style="float: left; margin-left: 123px;">
				<li style="margin-right: 20px;">
					<div class="buttonActive">
						<div class="buttonContent">
							<button type="submit">保存</button>
						</div>
					</div>
				</li>
				<li>
					<div class="button">
						<div class="buttonContent">
							<button type="button" class="close">取消</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</form>
</div>