<div class="pageContent">
	<form method="post" action="{:U('rolemodifyfunction')}" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<input type="hidden" name="role_id" value="{$info.role_id}">
		<div class="pageFormContent" layoutH="450">
            <dl class="nowrap">
                <dt>角色名称：</dt>
                <dd>
                    <input name="roleName" class="required" type="text" size="30" value="{$info.role_name}"/>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>　</dt>
                <dd>
                    <font style="color: #FF0000;">提示:支持批量添加。中间使用英文状态下的逗号","隔开</font>
                </dd>
            </dl>
            <dl class="nowrap">
                <dt>角色类型：</dt>
                <dd>
                    <input type="radio" name="modRoletp" value="1" <if condition="$info['role_type'] eq 1">checked="checked"</if> /> 管理　　<input type="radio" name="modRoletp" value="2" <if condition="$info['role_type'] eq 2">checked="checked"</if>/> 代理
                </dd>
            </dl>
            <dl class="nowrap" style="display: none;" modAgenttp>
                <dt>代理类型：</dt>
                <dd>
                    <if condition="$info['role_agtp'] EGT 1">
                        <input type="radio" name="modAgenttp" value="1" <if condition="$info['role_agtp'] eq 1">checked="checked"</if>/> 单级　　<input type="radio" name="modAgenttp" value="2"  <if condition="$info['role_agtp'] eq 2">checked="checked"</if>/> 多级
                    <else/>
                        <input type="radio" name="modAgenttp" value="1" checked="checked"/> 单级　　<input type="radio" name="modAgenttp" value="2"/> 多级
                    </if>
                </dd>
            </dl>
		</div>
		<div class="formBar">
			<ul style="float: left">
				<li style="margin-left: 100px;">
					<div class="buttonActive">
						<div class="buttonContent">
							<button type="submit">保存</button>
						</div>
					</div>
				</li>
				<li style="margin-left: 20px;">
					<div class="button">
						<div class="buttonContent">
							<button type="button" class="close">取消</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('input[name="modRoletp"]').click(function(event) {
        var th = $(this).val();
        if (th==1) {
            $('[modAgenttp]').hide();
        } else {
            $('[modAgenttp]').show();
        }
    });
    $('input[name="modRoletp"]:checked').trigger('click');
});
</script>