<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{:C('webTitle')}</title>
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/reset.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/common.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/style.css" />
		<script type="text/javascript" src="{:C('webPublic')}js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{:C('webPublic')}js/doT.min.js"></script>
		<script type="text/javascript" src="{:C('webPublic')}js/common.js"></script>
	</head>

	<body>
		<!--header start-->
		<header class="subpageHeader line_bottom">
			<a class="aBackBtn" href="javascript:history.go(-1)"><img src="{:C('webPublic')}images/backIcon.png" /></a>佣金记录<a style="position:absolute;top:0;right:0;padding-right:15px;color:#fff;" href="{:U('withdraw')}">立即提现 ></a></header>
		<!--header end-->
		<!--subpage start-->
		<section class="subpageMain">
			<div class="CommissionRecordContainer">
				<div class="CommissionRecordHeaderContainer">
					<div class="CommissionRecordHeader" style="padding:10px 10px 10px">
						<div style="float:left;width:48.5%;background:#fff;border:1px solid #f9a020">
							<h3>钱包余额(元)</h3>
							<p style="color:#f33">{$balance}</p>
						</div>
						<div style="float:right;width:48.5%;background:#fff;border:1px solid #f9a020">
							<h3>累计收益(元)</h3>
							<p>{$sumSy}</p>
						</div>
						<div style="clear:both;"></div>
					</div>
					<div class="CommissionRecordTab line_bottom">
						<a href="javascript:;" class="Selected">交易返现</a>
						<a href="javascript:;">提现列表</a>
					</div>
				</div>
				<div class="CommissionRecordMain">
					<!--交易返现-->
					<div class="CommissionRecordList" id="CommissionRecordListP" style="display:block;">
						<!--<ul class="CommissionRecordListUl">-->

							<!--<volist id="vo" name="list">
								<if condition="$vo.changeType eq 'P'">
									<li class="line_bottom">
										<img src="{:C('webPublic')}images/CommissionRecord<if condition=" $vo.level eq 1 ">One<else/>Two</if>Icon.png"/>
										<div class="CommissionRecordListDiv">
											<div>
												<h3>{$vo.typeName}</h3>
												<p>{$vo.remark}</p>
											</div>
											<div>
												<p>+{$vo.changeAmount}</p>
												<time>{$vo.createTime}</time>
											</div>
										</div>
									</li>
								</if>
							</volist>-->
						<!--</ul>-->
					</div>
					<!--提现列表-->
					<div class="CommissionRecordList" id="CommissionRecordListT">
						<!--<ul class="CommissionRecordListUl">-->
							<!--<volist id="vo" name="list">
								<if condition="$vo.changeType eq 'T'">
									<li class="line_bottom">
										<img src="{:C('webPublic')}images/CommissionRecord<if condition=" $vo.level eq 1 ">One<else/>Two</if>Icon.png"/>
										<div class="CommissionRecordListDiv">
											<div>
												<h3>{$vo.typeName}</h3>
												<p>{$vo.remark}</p>
											</div>
											<div>
												<p class="green">-{$vo.changeAmount}</p>
												<time>{$vo.createTime}</time>
											</div>
										</div>
									</li>
								</if>
							</volist>-->
						<!--</ul>-->
					</div>
				</div>
			</div>
			<include file="Public/bottom" />
		</section>
		<!--subpage end-->
		<div class="overlazy"></div>
	</body>
	<script src="function.js"></script>
	<script type="text/javascript">
		var page = 1, //分页码
			off_on = false; //分页开关
		$(function(){
			LoadingDataFn('P', page);
		});
		//选项卡
		var List = $('.CommissionRecordList');
		$('.CommissionRecordTab a').click(function() {
				$(this).addClass('Selected').siblings().removeClass('Selected');
				var i = $(this).index();
				List.hide();
				List[i].style.display = 'block';
				//点击是页面初始化
				if (i == 0) {
					LoadingDataFn('P', page)
				} else if (i == 1) {
					LoadingDataFn('T', page)
				}
			})
			//加载数据
		function LoadingDataFn(type, num) {
			$.ajax({
				url: "{:U('getRecordList')}",
				type: 'POST', //GET
				async: true, //或false,是否异步
				data: {
					page: num,
					type: type
				},
				timeout: 5000, //超时时间
				dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
				success: function(data) {
					console.log(data)
					if(data.status){
						appDot("#dotHtml","#CommissionRecordListP",data.data);
					}
				}
			})
			off_on = true; //[重要]这是使用了 {滚动加载方法1}  时 用到的 ！！！[如果用  滚动加载方法1 时：off_on 在这里不设 true的话， 下次就没法加载了哦！]
		};
		//滚动加载更多
		$('#CommissionRecordListP').scroll(function() {
			if (($(this)[0].scrollTop + $(this).height() + 40) >= $(this)[0].scrollHeight) {
				if (off_on) {
					off_on = false;
					page++;
					LoadingDataFn(type, num)
				}
			}
		});
	</script>
	<script type="x-dot-template" id="dotHtml">
		<ul class="CommissionRecordListUl">
			{{if(it.length>0){}} {{for(i in it){}}
			<li class="line_bottom">
				<img src="{:C('webPublic')}images/CommissionRecord<if condition=" $vo.level eq 1 ">One<else/>Two</if>Icon.png"/>
				<div class="CommissionRecordListDiv">
					<div>
						<h3>{{=it[i].typeName}}</h3>
						<p>{{=it[i].remark}}</p>
					</div>
					<div>
						<p>+{{=it[i].changeAmount}}</p>
						<time>{{=it[i].createTime}}</time>
					</div>
				</div>
			</li>
			{{}}} {{}else{}}
			<!--如果还没有添加信用卡-->
			<li style="height:auto;">
			<div class="noDataMain">
				<img src="{:C('webPublic')}images/noEarningsData.png" alt="暂无收益记录" />
				<p>暂无收益记录</p>
			</div>
			</li>
			{{}}}
		</ul>
	</script>

</html>