<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{:C('webTitle')}</title>
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/reset.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/common.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/style.css" />
		<script type="text/javascript" src="{:C('webPublic')}js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{:C('webPublic')}js/HomeCheck.js"></script>
		<script type="text/javascript" src="{:C('webPublic')}js/layer.js"></script>
		<style type="text/css">
			.settingPsssword {
				padding: 0 10px 10px;
			}
			
			.titleFromGroup>div {
				height: 50px;
				line-height: 50px;
				padding-left: 90px;
				position: relative;
				font-size: 16px;
			}
			
			.titleFromGroup>div input {
				width: 100%;
				height: 50px;
				border: none;
				background: none;
				font-size: 16px;
			}
			
			.titleFromGroup>div em {
				display: block;
				width: 90px;
				height: 50px;
				left: 0;
				top: 0;
				position: absolute;
			}
			
			.verificationCodeDiv a {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				color: #ff7323;
			}
		</style>
	</head>

	<body>
		<!--header start-->
		<header class="subpageHeader">
			<a class="aBackBtn" href="javascript:window.history.back();"><img src="{:C('webPublic')}images/backIcon.png" /></a>修改密码</header>
		<!--header end-->
		<!--subpage start-->
		<section class="subpageMain">
			<div class="settingPsssword">
				<div class="titleFromGroup">
					<div class="line_bottom">
						<em>手机号:</em>
						<input type="text" id="phoneVal" maxlength="11" placeholder="请输入您的手机号" emp="{empty:true,tel:true}" value="{$phone}" readonly mess="输入手机号" />
					</div>
					<div class="verificationCodeDiv line_bottom">
						<em>验证码:</em>
						<input type="text" id="verifyCode" maxlength="4" placeholder="请输入验证码" emp="{empty:true,number:true}" mess="输入验证码" /> 
						<a href="javascript:;" id="sendCode">获取验证码</a>
					</div>
					<div class="line_bottom">
						<em>新密码:</em>
						<input type="password" id="newPaw" maxlength="18" placeholder="请输入您的新密码" emp="{empty:true,zcpass:true}" mess="输入新密码" />
					</div>
					<div class="line_bottom">
						<em>确认密码:</em>
						<input type="password" placeholder="请再次输入新密码" emp="{empty:true,compassw:newPaw}" mess="再次输入新密码">
					</div>
				</div>

				<a class="sumbitButton" href="javascript:;" style="margin:20px auto; background:#f9a020;">确认提交</a>
			</div>
		</section>
		<!--subpage end-->
	</body>
	<script src="__PUBLIC__/js/function.js"></script>
	<script type="text/javascript">
		//验证
		$(function() {
			//定位表单容器
			$('.sumbitButton').click(function() {
				if ($('[emp]').checkinput()) {
					mAjaxNL("{:U('AccountChangePass')}",{phone:$('#phoneVal').val(),verify:$('#verifyCode').val(),pass:$('#newPaw').val()},function(ret){
						layermsg(ret.msg);
						if(ret.status){
							$("#verifyCode").val("");
							$("input[type=password]").val("");
							localStorage.HFuser = $('#phoneVal').val();
							localStorage.HFpass = $('#newPaw').val();
							setTimeout(function(){
								window.location.href = '{:U('Center/index')}';
							},1000);
						}
					});
				}
			})
		//获取验证码
			var timer = null;
			var onOff = true;
			$('#sendCode').click(function() {
				if ($('#phoneVal').checkinput()) {
					if (onOff) {
						var phoneVal = $('#phoneVal').val();
						//请求
						$.ajax({
							url: '{:U("sendChangePassVerifyMessage")}',
							type: 'POST',
							async: true,
							data: {
								phone: phoneVal,
							},
							timeout: 5000,
							dataType: 'json',
							success: function(ret) {
								//请求成功
								if (ret.status == 1) {
									//验证码倒计时
									var num = 60;
									timer = setInterval(function() {
										num--;
										$('#sendCode').addClass('active').text('(' + num + 's' + ')' + '后重新发送');
										if (num == 0) {
											$('#sendCode').removeClass('active').text('发送验证码');
											onOff = true;
											clearInterval(timer);
										}
									}, 1000)
								}else{
									onOff = true;
									layermsg(ret.msg);
								}
							}
						})
						onOff = false;
					}
				}
			})
		})
	</script>
</html>