<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{:C('webTitle')}</title>
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/reset.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/common.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/style.css" />
		<script type="text/javascript" src="{:C('webPublic')}js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{:C('webPublic')}js/HomeCheck.js"></script>
		<script type="text/javascript" src="{:C('webPublic')}js/layer.js"></script>
		<style type="text/css">
			.settingChangeSuccess {
				text-align: center;
				padding-top: 25%;
			}
			
			.settingChangeSuccess img {
				width: 60px;
				height: 60px;
				vertical-align: middle;
			}
			
			.settingChangeSuccess p {
				line-height: 35px;
			}
			
			.settingChangeSuccess p:first-of-type {
				padding-top: 20px;
				font-size: 16px;
				color: #333;
			}
			
			.settingChangeSuccess p:last-of-type {
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<!--header start-->
		<header class="subpageHeader">
			<a class="aBackBtn" href="{:U('Center/index')}"><img src="{:C('webPublic')}images/backIcon.png" /></a>修改密码</header>
		<!--header end-->
		<!--subpage start-->
		<section class="subpageMain">
			<div class="settingChangeSuccess">
				<img src="{:C('webPublic')}images/settingChangeSuccessIcon.png" />
				<p><span>修改密码成功</span></p>
				<p>网页正在摩擦，一步两步，是魔鬼的步伐</p>
			</div>
			<div class="buttonBtnCircle">
				<a href="{:U('Center/index')}">回到首页</a>
			</div>
		</section>
		<!--subpage end-->
	</body>

</html>