<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{:C('webTitle')}</title>
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/reset.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/style.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/common.css" />
		<script type="text/javascript" src="{:C('webPublic')}js/jquery-1.8.3.min.js"></script>
		<script src="{:C('webPublic')}js/doT.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{:C('webPublic')}js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				useDot('#dotHtml', '#teamLevelOneListMain', data);
			})
			var data = {$result};
			if(data == null){
				data = {};
			}
		</script>
		<style>
			.noReg {
				border-radius:8px;
				background:#3879D9;border:0.5px solid #eee;font-size:10px;color:#fff;padding:3px 5px;
			}
			.noReg:before {
   				content: "未注册手付通";
			}
			.yesReg {
				background:#eee;
				color:#000;
			}
			.yesReg:before {
   				content: "已注册手付通";
			}
		</style>
	</head>

	<body>
		<!--header start-->
		<header class="subpageHeader">
			<a class="aBackBtn" href="javascript:window.history.back();"><img src="{:C('webPublic')}images/backIcon.png" /></a>我的团队</header>
		<!--header end-->
		<!--subpage start-->
		<section class="subpageMain">
			<div class="teamLevelOneContainer">
				<div class="teamLevelOneTotal">
					<span>直属成员</span>
					<em>共{$oneCts}人</em>
				</div>
				<div class="teamLevelOneListMain" id="teamLevelOneListMain"></div>
			</div>
		</section>
		<!--subpage end-->
	</body>
	<script type="x-dot-template" id="dotHtml">
		<ul class="teamLevelOneListUl">
			{{if(it.length>0){}} {{for(i in it){}}
			<li class="line_bottom">
				<img src="{:C('webPublic')}images/teamLevelTwoIcon.png" />
				<div>
					<p>{{=it[i].teamName}} {{if(it[i].isReg==0){}}<span class="noReg"></span>{{}}}</p>
					<p>{{=it[i].teamTelPhone}}</p>
					<a href="tel:{{=it[i].truePhone}}">
						<img src="{:C('webPublic')}images/dialingIcon.png" />
					</a>
				</div>
			</li>
			{{}}} {{}else{}}
			<!--暂无成员-->
			<li class="teamLevelOneNoData">
				<div class="noDataaMain">
					<img src="{:C('webPublic')}images/noDataIconImg.png" />
					<p>暂无团队成员</p>
				</div>
			</li>
			{{}}}
		</ul>
	</script>

</html>