<style type="text/css">
.dts{
	text-align: right;
	width: 90px !important;
}
.dds{
	width: 150px !important;
}
</style>
<form method="post" submit action="{:U('uppasswordfun')}" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone) ">
	<input name="UserUid" type="hidden" value="{$UserUid}" />
	<div class="pageContent">
		<div class="pageFormContent" layoutH="55">
			<fieldset>
					<legend>密码修改</legend>
					<dl class="nowrap">
						<dl>
							<dt class="dts">原密码：</dt>
							<dd class="dds">
								<input type="password" name="ManagerOldPwd" minlength="6" maxlength="20" ManagerPWD emp="{empty:true}" mess="输入原密码"/>
							</dd>
						</dl>
						<dl>
							<dt class="dts">新密码：</dt>
							<dd class="dds">
								<input type="password" id="pwd"  minlength="6" maxlength="20" ManagerPWD emp="{empty:true,zcpass:true}" mess="输入新密码"/>
							</dd>
						</dl>
						<dl>
							<dt class="dts">确认密码：</dt>
							<dd class="dds">
								<input type="password" name="ManagerNewPwd"  minlength="6" maxlength="20" ManagerPWD emp="{empty:true,compassw:'#pwd'}" mess="输入确认密码"/>
							</dd>
						</dl>
					</dl>
			</fieldset>
		</div>
	</div>
	<div class="formBar">
		<ul>
			<li style="margin-right: 20px;">
				<div class="buttonActive">
					<div class="buttonContent">
						<button type="button" onclick="return checksubmit()">保存</button>
					</div>
				</div>
			</li>
			<li style="margin-right: 20px;">
				<div class="button">
					<div class="buttonContent">
						<button type="button" class="close">取消</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
</form>
<script type="text/javascript">
//表单提交验证
function checksubmit(){
	if($("[ManagerPWD]").checkinput()){
		$('[submit]').submit();
	}
}
</script>