<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{:C('webTitle')}</title>
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/reset.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/common.css" />
		<link rel="stylesheet" type="text/css" href="{:C('webPublic')}css/style.css" />
		<script type="text/javascript" src="{:C('webPublic')}js/jquery-1.8.3.min.js"></script>
		<script src="{:C('webPublic')}js/HomeCheck.js" type="text/javascript" charset="utf-8"></script>
		<script src="{:C('webPublic')}js/layer.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			body,html{
				background:url({:C('webPublic')}images/loginBgImg.png);
				background-size:100% auto;
				background-position:center top;
			}
		</style>
	</head>

	<body>
		<!--header start-->
		<!--<header class="subpageHeader">
			<a class="aBackBtn" href="javascript:history.go(-1)"><img src="{:C('webPublic')}images/backIcon.png" /></a>注册</header>-->
		<!--header end-->
		<section>
			<div class="loginContainer">
			<div class="outlineDiv">
				<a class="policyBtn" href="{:U('policy')}">查看分润政策</a>
				<div class="innerlineDiv">
					<if condition="$noTop">
					<div class="TipMain line_bottom">
						<img src="{:C('webPublic')}images/noticeIcon.png" />
						请填写真实信息，一经填写无法修改！
					</div>
					<div class="loginFormMain">
						<div class="FormItem line_bottom">
							<span>姓 名:</span>
							<div>
								<input type="text" id="name" placeholder="请输入您的真实姓名" emp="{empty:true}" mess="输入姓名" />
							</div>
						</div>
						<div class="FormItem line_bottom">
							<span>电 话:</span>
							<div>
								<input type="text" id="phoneVal" maxlength="11" placeholder="请输入您的手机号" emp="{empty:true,tel:true}" mess="输入手机号" />
							</div>
						</div>
						<div class="FormItem verificationCode line_bottom">
							<span>验证码:</span>
							<div>
								<input type="text" id="verifyCode" maxlength="4" placeholder="请输入验证码" emp="{empty:true,number:true}" mess="输入验证码" /> 
								<a href="javascript:;" id="sendCode">获取验证码</a>
							</div>
						</div>
						<div class="FormItem line_bottom">
							<span>密 码:</span>
							<div>
								<input type="text" id="password" maxlength="18" placeholder="请输入您的密码" emp="{empty:true,zcpass:true}" mess="输入密码" />
							</div>
						</div>
					</div>	
					<a class="sumbitButton" href="javascript:;">确认提交</a>
					<else /> 
					  <div class='noRegisterMain'>
					     <img src="{:C('webPublic')}images/sorryIcon.png" /> 
					     <p>sorry，无法注册！</p>
					     <p>只有扫描上级二维码才能注册哦！</p>   
					  </div> 
					<!--按钮-->
					</if>
					<p class="questionBtn">
						<a href="{:U('index')}">已有账号？立即登录</a>
					</p>
				</div>
			</div>
		</div>
		</section>
		<div class="overlazy"></div>
	</body>
	<script src="__PUBLIC__/js/function.js"></script>
	<script type="text/javascript">
		//验证
		$(function() {
			//定位表单容器
			$('.sumbitButton').click(function() {
				if ($('[emp]').checkinput()) {
					mAjaxNL("{:U('AccountRegister')}",{name:$('#name').val(),phone:$('#phoneVal').val(),verify:$('#verifyCode').val(),pass:$('#password').val()},function(ret){
						layermsg(ret.msg);
						if(ret.status){
							setTimeout(function(){
								localStorage.HFuser = $('#phoneVal').val();
								localStorage.HFpass = $('#password').val();
								window.location = '{:U('Center/index')}';
							},2000);
						}
					});
				}
			})
		//获取验证码
			var timer = null;
			var onOff = true;
			$('#sendCode').click(function() {
				if ($('#phoneVal').checkinput()) {
					if (onOff) {
						var phoneVal = $('#phoneVal').val();
						//请求
						$.ajax({
							url: '{:U("sendRegisterVerifyMessage")}',
							type: 'POST',
							async: true,
							data: {
								phone: phoneVal,
							},
							timeout: 5000,
							dataType: 'json',
							success: function(ret) {
								//请求成功
								if (ret.status == 1) {
									//验证码倒计时
									var num = 60;
									timer = setInterval(function() {
										num--;
										$('#sendCode').addClass('active').text('(' + num + 's' + ')' + '后重新发送');
										if (num == 0) {
											$('#sendCode').removeClass('active').text('发送验证码');
											onOff = true;
											clearInterval(timer);
										}
									}, 1000)
								}else{
									onOff = true;
									layermsg(ret.msg);
								}
							}
						})
						onOff = false;
					}
				}
			})
		})
	</script>

</html>