<!doctype html>
<html lang="en">

	<head>
		<meta name="keywords" content="信息" />
		<meta name="description" content="信息" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="revised" content="David, 2008/8/8/" />
		<meta name="renderer" content="webkit">
		<!-- 启用360浏览器的极速模式(webkit) -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 避免IE使用兼容模式 -->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- 不让百度转码 -->
		<meta name="HandheldFriendly" content="true">
		<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
		<meta name="screen-orientation" content="portrait">
		<!-- uc强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="full-screen" content="yes">
		<!-- UC强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- QQ强制全屏 -->
		<meta name="msapplication-tap-highlight" content="no">
		<!-- windows phone 点击无高光 -->
		<!--ios系统的meta/link设置-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!--开启对web app程序的支持-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!--改变顶部状态条的颜色-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- IOS6全屏 Chrome高版本全屏-->
		<meta name="mobile-web-app-capable" content="yes">
		<!-- IOS6全屏 Chrome高版本全屏-->
		<title>益点合伙人</title>
		<link rel="stylesheet" href="__PUBLIC__/partner/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/partner/css/style.css" />
	</head>

	<body>
		<!--注册页面 开始-->
		<section class="section_content">
			<div class="input_div">
				<!--单条数据-->
				<div class="input_list line_bottom"> <em>推荐人</em>
					<div>
						<input id="name" type="text" value="任勇强" disabled="disabled">
					</div>
				</div>
				<!--单条数据-->
				<div class="input_list line_bottom"> <em>推荐码</em>
					<div>
						<input id="IDnumber" type="text" value="13296905340" disabled="disabled">
					</div>
				</div>
				<!--单条数据-->
				<div class="input_list line_bottom"> <em>姓名</em>
					<div>
						<input id="phone" maxlength="11" type="tel" placeholder="请输入姓名"  mess="输入手机号">
					</div>
				</div>
				<!--单条数据-->
				<!--单条数据-->
				<div class="input_list line_bottom"> <em>手机号</em>
					<div>
						<input id="phone" maxlength="11" type="tel" placeholder="请输入您的手机号码" emp="{empty:true,tel:true,number:true}" mess="输入手机号">
					</div>
				</div>
				<!--单条数据-->
				<div class="input_list line_bottom"> <em>验证码</em>
					<div>
						<input id="verification_code" maxlength="4" type="tel" placeholder="请填写验证码" emp="{empty:true}" mess="输入验证码">
					</div>
					<a href="javascript:;">发送验证码</a>
				</div>
				<!--单条数据-->
				<div class="input_list line_bottom"> <em>用户密码</em>
					<div>
						<input id="passWord" type="password" placeholder="密码" emp="{empty:true}" mess="输入密码">
					</div>
				</div>
				<!--单条数据-->
				<div class="input_list line_bottom"> <em>确认密码</em>
					<div>
						<input id="phone" type="password" placeholder="确认密码" emp="{empty:true,compassw:'#passWord'}" mess="再次输入密码">
					</div>
				</div>
			</div>
		</section>
		<a class="registerBtn" href="javascript:;">注册</a>
		<!--注册页面 结束-->
		<script src="__PUBLIC__/partner/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/partner/js/HomeCheck.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/partner/js/layer.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				//验证表单
				$('.registerBtn').click(function() {
					if ($('[emp]').checkinput()) {
						window.location.href = 'success.html'
					}
				})
			})
		</script>
	</body>

</html>